%h1 Listing systemevents
%table
  %tr
    %th Technician
    %th User
    %th Category
    %th Priority
    %th Environment
    %th Status
    %th Market
    %th Submarket
    %th Subject
    %th Description
    %th Notes
  - @tickets.each do |ticket|
    %tr
      %td= Technician.where(:id => ticket.technician_id).first.user_id
      %td= User.where(:id => ticket.user_id).first.name
      %td= Category.where(:id => ticket.category_id).first.name
      %td= Priority.where(:id => ticket.priority_id).first.name
      %td= Environment.where(:id => ticket.environment_id).first.name
      %td= Status.where(:id => ticket.status_id).first.name
      %td= Market.where(:id => ticket.market_id).first.name
      %td= Submarket.where(:id => ticket.submarket_id).first.name
      %td= ticket.subject
      %td= ticket.description
      %td= ticket.notes.count
      %td= link_to 'Show', ticket
%br/
= link_to 'New Ticket', new_ticket_path
