%h1 Listing Syslog Events

= form_tag systemevents_path, :method => 'get' do
  %p  
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil    
%table
  %tr
    %th= "Time"
    %th= "Facility"
    %th= "Priority"
    %th= "From Host"
    %th= "Message"
  - @systemevents.each do |systemevent|
    %tr
      %td= systemevent.devicereportedtime.in_time_zone("Central Time (US & Canada)").strftime("%Y-%m-%d %I:%M:%S%p %Z")
      %td= systemevent.facility
      %td= systemevent.priority
      %td= systemevent.fromhost
      %td= systemevent.message
=will_paginate
%br/
